# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=SUPAP
NEXT_PUBLIC_ORGANIZATION_EMAIL=supap.secretaria@gmail.com
NEXT_PUBLIC_ORGANIZATION_WEBSITE=https://supap.uy

# Backend Configuration (to be added)
# NEXT_PUBLIC_SUPABASE_URL=
# NEXT_PUBLIC_SUPABASE_ANON_KEY=
